$headerHeight: 50px;
$maxContentWidth: 600px;
$contentMinPad: 25px;
$headerColor: #E4E4E4;
$viewBackground: #2E4159;
$highlightColor: #698FB6;
$contentColor: #51718C;
/* Color Theme Swatches in Hex */
$Sea-Серо-синий-2-1-hex: #2E4159;
$Sea-Серо-синий-2-2-hex: #51718C;
$Sea-Серо-синий-2-3-hex: #698FB6;
$Sea-Серо-синий-2-4-hex: #91B7D9;
$Sea-Серо-синий-2-5-hex: #E4E4E4;

