@import './constants.scss';

.searchBar {
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: $contentMinPad;
    padding-right: $contentMinPad;
    input {
        border: unset;
        background-color: $highlightColor;
        box-sizing: border-box;
        height: 3rem;
        width: 100%;
        max-width: $maxContentWidth;
        border-radius: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 1rem;
        &:focus {
            outline: unset;
        }
    }
}